.navpage {
    z-index: 9999;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    color: red;
    opacity: 1;
    
    .navpage-button {
        width: 5%;
        background-color: white;
        height: 100vh;
        float: left;
        i {
            font-size: 60px;
        }
    }

    .navbar {
        width: 20%;
        background-color:#fff;
        height: 100vh;
        float: left;
        padding-top: 100px;
        li {
            list-style: none;
            text-align: left;
            padding: 10px;
            margin: 2%;
            text-justify: initial;
            a {
                font-size: 22px;
                color: #8E9AA7;
                text-decoration: none;
            }
            a::first-letter {
                font-weight: bold;
                text-transform: uppercase;
            }
        }
    }   
    .leftover {
        width: 75%;
        height: 100vh;
        background-color: rgba(8, 11, 16, 0.7);
        opacity: 0.8;
        float: left;
    }
}