<div class="navpage">
  <div class="navpage-button">
    <a 
        class="nav-link" 
        (click) = "goBack()">
        <i class="fa fa-times"></i>
    </a>    
  </div>    
  <div class="navbar">
      <li>
        <a class="nav-link" routerLink="">Inspiration</a>
      </li>
      <li>
        <a class="nav-link" routerLink="/challenges">Challenges</a>
      </li>
      <li>
        <a class="nav-link" routerLink="/advertise">Advertise</a>
      </li>
      <li>
        <a class="nav-link" routerLink="/submit">Submit</a>
      </li>
  </div>
  <div class="leftover">
  </div>
</div>