<h1>Inspiration</h1>
<div class="container">
    <div class="button">
        <a 
            class="nav-link" 
            routerLink="/inspiration/nav">
            <i class="fa fa-bars"></i>
        </a>
    </div>
    <div class="middle-container" id="middle">
        <div class="boxes"></div>
        <div class="boxes"></div>
        <div class="boxes"></div>
        <div class="boxes"></div>
        <div class="boxes"></div>
        <div class="boxes"></div>
        <div class="boxes"></div>
        <div class="boxes"></div>
        <div class="boxes"></div>
        <div class="boxes"></div>
        <div class="boxes"></div>
        <div class="boxes"></div>
        <div class="boxes"></div>
        <div class="boxes"></div>
        <div class="boxes"></div>
        <div class="boxes"></div>
        <div class="boxes"></div>
        <div class="boxes"></div>
    </div>
</div>
<router-outlet></router-outlet>